<div class="row">
    <div class="col-5">
        <div class="card">
            <h1 class="card-header">Result</h1>
            <div class="card-body w-100">
                <h4 style="color: green" *ngIf="quizzesService.ratingRequestBody.rating / quizzesService.ratingRequestBody.maxPoints >= 0.5">Congratulations!</h4>
                <h4 style="color: red" *ngIf="quizzesService.ratingRequestBody.rating / quizzesService.ratingRequestBody.maxPoints < 0.5">Oops failed!</h4>
                <span class="d-flex gap-2 mt-3">
                    <p class="fw-bold m-0">Quiz title:</p>
                    <p class="fw-lighter fst-italic m-0 m-0">{{this.quizzesService.ratingRequestBody.quizTitle}}</p>
                </span>
                <span class="d-flex gap-2">
                    <p class="fw-bold m-0">Correct answers percentage:</p>
                    <p class="fw-lighter fst-italic m-0">{{(quizzesService.ratingRequestBody.rating / quizzesService.ratingRequestBody.maxPoints) * 100 }} %</p>
                </span>
                <span class="d-flex gap-2">
                    <p class="fw-bold m-0">Quiz result:</p>
                    <p class="fw-lighter fst-italic m-0">{{this.quizzesService.ratingRequestBody.rating }} / {{ this.quizzesService.ratingRequestBody.maxPoints}}</p>
                </span>
            </div>
            <div class="card-footer mt-2">
                <button type="submit" class="btn btn-primary" (click)="goToScores()">
                    Go to scores
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                      </svg> 
                </button>
            </div>
        </div>
    </div>
</div>
