<div class="container-fluid mt-3">
    <div class="d-flex">
        <div class="card mt-4">
            <h1 class="card-header pt-4 pb-4">Welcome to Quiz App!</h1>
            <div class="card-body">
                <h5 class="card-title mt-3">Features:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Quiz Solving:</strong> Users can engage in interactive quizzes covering various topics. Each quiz offers multiple-choice questions with instant feedback.</li>
                    <li class="list-group-item"><strong>Quiz Creation:</strong> Registered users have the ability to create their own quizzes. They can customize quiz titles, questions, and answer options, allowing for a personalized quiz experience.</li>
                    <li class="list-group-item"><strong>Leaderboard:</strong> The application includes a leaderboard feature displaying the top scores achieved by users across different quizzes. This provides a competitive element and encourages users to strive for high scores.</li>
                    <li class="list-group-item"><strong>Shuffle Questions:</strong> To enhance user engagement and challenge, the app offers a feature to shuffle the order of questions within a quiz. This keeps the experience fresh and prevents users from memorizing question sequences.</li>
                </ul>
                <h5 class="card-title mt-5">Technologies:</h5>
                <div class="technologies mt-4">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" class="img_tech"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" class="img_tech"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg" class="img_tech"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" class="img_tech"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" class="img_tech"/>  
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hibernate/hibernate-original.svg" class="img_tech"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" class="img_tech"/>
                </div>
            </div>
        </div>
        <img src="../.../../../../assets/home-img.jpg" alt="Image" class="img_home" id="img_home" style="width: 40%; height: auto;">
    </div>
</div>
    