<div class="container">
    <h1 class="mt-4">Welcome to Quiz App!</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h2>About the Application:</h2>  
            <p>Quiz App is a dynamic web application developed using Angular for the frontend and Java for the backend.</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h2>Features:</h2>
            <ul>
                <li><strong>Quiz Solving:</strong> Users can engage in interactive quizzes covering various topics. Each quiz offers multiple-choice questions with instant feedback.</li>
                <li><strong>Quiz Creation:</strong> Registered users have the ability to create their own quizzes. They can customize quiz titles, questions, and answer options, allowing for a personalized quiz experience.</li>
                <li><strong>Leaderboard:</strong> The application includes a leaderboard feature displaying the top scores achieved by users across different quizzes. This provides a competitive element and encourages users to strive for high scores.</li>
                <li><strong>Shuffle Questions:</strong> To enhance user engagement and challenge, the app offers a feature to shuffle the order of questions within a quiz. This keeps the experience fresh and prevents users from memorizing question sequences.</li>
            </ul>
        </div>
    </div>
</div>
