<!-- <form>
    <label for="file">File</label>
    <input id="file" type="file" />
    <button>Upload</button>
  </form> -->

  <div class="container">
    <form action="#" method="post" enctype="multipart/form-data">
      <label for="file">Wybierz plik txt:</label>
      <div class="custom-file">
        <input type="file" id="file" name="file" class="input-file">
        <label for="file" class="btn">Prześlij plik</label>
      </div>
      <button type="submit">Wyślij</button>
    </form>
  </div>