<div class="container" *ngIf="!this.quizzesService.completionMode">
  <div class="row">
    <div class="col-9">
      <app-quiz-form></app-quiz-form>
    </div>
    <div class="col-3">
      <app-quiz-info></app-quiz-info>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="this.quizzesService.completionMode">
  <app-quiz-complete></app-quiz-complete>
</div>

<app-modal 
  [modalTitle]="'Accept changes'" 
  [modalMessage]="'Do you want to accept your changes?'"
  (saveChanges)="this.quizzesService.submit()"
></app-modal>

<app-toast></app-toast>





