<div class="container mt-5">
    <h1 class="mb-3">Scores</h1>
    <div class="row mb-4">
        <div class="col-md-4">
            <input (input)="filter($event)" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th scope="col" style="width: 10%;">Position</th>
            <th scope="col" style="width: 25%;">Quiz title</th>
            <th scope="col" style="width: 20%;">Questions</th>
            <th scope="col" style="width: 23%;">Correct questions</th>
            <th scope="col" style="width: 32%;">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rating of filteredRatings; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{rating.quizTitle}}</td>
            <td>{{rating.maxPoints}}</td>
            <td>{{rating.rating}}</td>
            <td>{{rating.dateTime.toString() | dateTimeFormat}}</td>
          </tr>
        </tbody>
      </table>
</div>
